<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:bal="http://schemas.microsoft.com/wix/BalExtension">
  <Bundle Name="UxStyle" Version="0.2.4.1" Manufacturer="The Within Network, LLC" UpgradeCode="c84fa50d-7d4b-4fe5-91d9-884008c3287e"
          DisableRepair="yes" DisableModify="yes">
    
    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.HyperlinkLicense">
      
      <bal:WixStandardBootstrapperApplication ThemeFile="theme\uxstyle.xml" LocalizationFile="theme\uxstyle.wxl" SuppressOptionsUI="yes" LicenseUrl="" />

      <Payload SourceFile="theme\uxstyle.png" />
      
    </BootstrapperApplicationRef>
    
    <Chain>
      <MsiPackage Id="Installer32" InstallCondition="NOT VersionNT64 " SourceFile="..\..\bin\x86\$(var.Configuration)\Installer.msi" />
      <MsiPackage Id="Installer64" InstallCondition="VersionNT64" SourceFile="..\..\bin\x64\$(var.Configuration)\Installer.msi" />
    </Chain>
    
  </Bundle>
</Wix>